EXPO_PUBLIC_ENV=development
EXPO_PUBLIC_ENABLE_MOCK_PURCHASES=true
EXPO_PUBLIC_ENABLE_TEST_ADS=true
EXPO_PUBLIC_ADMOB_ANDROID_APP_ID=
EXPO_PUBLIC_ADMOB_SETUP_BANNER_ID=
EXPO_PUBLIC_ADMOB_HISTORY_BANNER_ID=
EXPO_PUBLIC_ADMOB_SETTINGS_BANNER_ID=
EXPO_PUBLIC_ADMOB_INTERSTITIAL_ID=
